Requirements for Overload Functionality on Overlay Networks
Lenny Giuliano <lenny@juniper.net>

Problem Statement:

VZ Converged Core offers PWE services to client networks via standard 
L2Ckts today. They'd like to offer functionality similar to ISIS/OSPF 
Overload to alert client routers (CE) when they do maintenance on the PE 
routers to select another path if it possible.  The challenge is that 
these CEs are overlay routers, so how do you convey this info to the CE 
when doing maintenance on the PE?  Ideally, we want to be able to do 
this with existing tools and not need any new Junos development.

CE1----PE1----P-----PE2----CE2
  |-----VLAN_with_OSPF-----|


Proposed Solution:

Create a special VLAN between PE and CE for every IFD that may carry 
L2Ckts (Canary in the Mineshaft VLAN, or CITM).  Run BFD on this VLAN. 
When about to do maint on PE1, deactivate this BFD session on PE1.  CE1 
runs an event script that will take the following action whenever the 
BFD session on the CITM VLAN goes down:

	-for every other IFL on the IFD containing the CITM VLAN, 
increase the IGP cost to some really large number (configurable as a 
parameter, default is 65000).  Additional option, set OSPF tag on this 
link to some value (tag is configurable as a parameter, default is 999).  
See below for rationale on this option.

This will provide overload-like functionality, where the PE router 
essentially informs the CE that maint is about to happen and pick 
another path to send your traffic if you can.  Now, this solution should 
be simple and work fine in the CE1->CE2 direction, but will not help in 
the opposite direction (ie, how do you inform CE2 you want to overload 
PE1).  To address traffic in the opposite direction, run another event 
script on CE2 (and indeed all other CEs) that says:

	-if you see an IGP metric disparity where one side has a metric 
of 65000, change the metric in the other direction to match.  
Alternatively, search for 999 tag if that is easier than the metric to 
match on.

When the BFD session on the CITM VLAN comes back up, undo on both sides.
